### *Run below mentioned Commands in a code cell if these packages are not available in your environment*
* ! pip install pandas
* ! pip install matplotlib
* ! pip install os
* ! pip install datetime

### *Loading Libraries*

In [2]:
import pandas as pd
import os
import datetime

#### Import Sales Data

In [3]:
xlsx = pd.ExcelFile('Sales-Data.xlsx')
sheet_names = xlsx.sheet_names
sheet_names

['Customer-Base', 'Sales-Data']

In [4]:
sales_data = pd.read_excel('Sales-Data.xlsx', sheet_name= 'Sales-Data')
sales_data.head()

  InvoiceDate   InvoiceID CustomerID  InvoiceValue
0  2022-01-01  DYSMJ47747  WNYQN5037            85
1  2022-01-01  JDOBV42881  GJMJI5215            87
2  2022-01-01  IWATI93376  AWXSL7355            76
3  2022-01-01  BYIGR33509  TTPXB4921            56
4  2022-01-01  KEQKA35598  WQYYR7437            84

### Business Questions
* Which day of the year company made maximum revenue?
* What is mean sale per day?
* Organization want to implement a new HR policy in which Zone Manager (Zip is considered as Zone) can grant leaves to employee when business inflow is a bit low. What are those days in different months?
* What is Median invoice genration rate per month?
* what is average invoice value in 2022? What is trend over month-on-month?
* which pincode has generated maximum revenue in June-2023? Do the same pincode have best revenue/invoice?
* There was a print media campaign rolled-out during 23-May-2023 to 31-May-2023. did this made any impact on sale? Consider sale of April and June 2023 for analysis.
* There was a Electronic media campaign rolled-out during 20-Feb-2023 to 28-Feb-2023. did this made any impact on sale? Consider sale of January and March-April 2023 for analysis.
* There was a Social media campaign rolled-out during 01-Jul-2023 to 31-Jul-2023. did this made any impact on sale? Consider sale of April and June 2023 for analysis.
* Which campaign made the best and least impact on Sale?

### Import customer base

In [5]:
customer_data = pd.read_excel('Sales-Data.xlsx', sheet_name= 'Customer-Base')
customer_data.head()

   ID        CID Gender  Age  PinCode
0   1  NCHFA9510      M   31   201303
1   2  BUUVH1506      M   33   201301
2   3  DYWQP6900      F   34   201302
3   4  DFQSR6753      M   41   201303
4   5  LZIEQ1426      M   38   201301

### *Customer-Base Questions*
* Which pincode have maximum number of customers?
* Which pincode have maximum/minimum number of Male and female customers?
* What is average age of female population in pincode with maximum male customers?
* do male and female have equal average age?
* which pincode have minimum/maximum average difference of age?

### *Running a merge? Wait! Lets Validate few points*

Merging data in pandas is a common operation when working with structured data in Python. Before and after performing a merge, there are several important points to consider to ensure a successful and meaningful operation. Here's a checklist of things to remember:

Before Merging:

1. **Understand Your Data**: Have a clear understanding of the datasets you're merging. Know the structure, column names, and data types of both DataFrames.

2. **Choose the Right Merge Type**: Decide which type of merge operation is appropriate for your data: inner, outer, left, or right. The choice depends on your analysis goals and the data itself.

3. **Check for Duplicates**: Ensure that there are no duplicate values in the key columns (columns used for merging) in both DataFrames. Duplicates can lead to unexpected results.

4. **Handle Missing Values**: Be prepared to handle missing values (NaN or None) in the key columns or other columns you intend to use in your analysis. Decide whether to drop, fill, or leave them as-is.

5. **Sort the DataFrames**: Although not always necessary, sorting the DataFrames can improve merge performance, especially for large datasets. You can use the `sort_values` method.

6. **Check Column Names**: Verify that the column names you intend to merge on have the same name in both DataFrames. If not, use the `left_on` and `right_on` parameters to specify different column names for merging.

After Merging:

1. **Inspect the Result**: Always inspect the resulting DataFrame to ensure that the merge operation produced the expected output. Print the merged DataFrame or use functions like `head()` to view the first few rows.

2. **Check for Null Values**: Examine the merged DataFrame for any unexpected null values. Make sure that the merge operation didn't introduce new missing data.

3. **Check for Duplicates**: Verify that the merge operation didn't create duplicate rows in the merged DataFrame. This can happen if the key columns were not unique in one or both of the original DataFrames.

4. **Perform Further Data Cleaning and Analysis**: Depending on your analysis goals, you may need to perform additional data cleaning or transformation steps on the merged data.

5. **Save the Result**: If the merged DataFrame is a critical part of your analysis, consider saving it to a file (e.g., CSV, Excel, or a database) to ensure you can easily access it later.

6. **Keep the Original Data**: Keep the original DataFrames intact. Merging creates a new DataFrame, and you might need the original data for other analyses or comparisons.

7. **Document Your Process**: Document the merge operation and any data cleaning or transformation steps you applied. Good documentation helps others understand and replicate your analysis.

By following these guidelines, you can perform merges in pandas more effectively and avoid common pitfalls that may arise during the process.

In [5]:
salesmaster = sales_data.merge(customer_data, how='left', left_on='CustomerID', right_on='CID')
salesmaster.head()

,InvoiceDate,InvoiceID,CustomerID,InvoiceValue,Month,ID,CID,Gender,Age,PinCode
0,2022-01-01,DYSMJ47747,WNYQN5037,85,2022-01,20,WNYQN5037,M,26,201303
1,2022-01-01,JDOBV42881,GJMJI5215,87,2022-01,96,GJMJI5215,M,50,201305
2,2022-01-01,IWATI93376,AWXSL7355,76,2022-01,25,AWXSL7355,M,41,201305
3,2022-01-01,BYIGR33509,TTPXB4921,56,2022-01,19,TTPXB4921,F,26,201301
4,2022-01-01,KEQKA35598,WQYYR7437,84,2022-01,55,WQYYR7437,M,42,201302

### *Quetions*
* Do we have different patterns in buying behaviour between different customer gender?
* Which Pincode have least variation in the sale?
* Which are top 10 revenue generating customers per month?
* Which are top 5 customers which are generating maximum revenue pincodes?
* Consider five year age window as age group, is there any difference in sales? consider gender as two different populations.

### Questions
* Do we have relationship between age and sales (Analyze data at monthly and year level)? is there any difference? Share your observation.
* Build a solution to predict sales in Q4-2022 based on Q1-Q3 2022.