#### Run below mentioned Commands in a code cell if these packages are not available in your environment
* ! pip install pandas
* ! pip install matplotlib
* ! pip install os
* ! pip install datetime

In [1]:
import pandas as pd
import os
import datetime

#### Import Sales Data

In [5]:
xlsx = pd.ExcelFile('Sales-Data.xlsx')
sheet_names = xlsx.sheet_names
sheet_names

['Customer-Base', 'Sales-Data']

In [6]:
sales_data = pd.read_excel('Sales-Data.xlsx', sheet_name= 'Sales-Data')
sales_data.head()

  InvoiceDate   InvoiceID CustomerID  InvoiceValue
0  2022-01-01  DYSMJ47747  WNYQN5037            85
1  2022-01-01  JDOBV42881  GJMJI5215            87
2  2022-01-01  IWATI93376  AWXSL7355            76
3  2022-01-01  BYIGR33509  TTPXB4921            56
4  2022-01-01  KEQKA35598  WQYYR7437            84

### Exploring Data

In [7]:
# Shape of a dataset
sales_data.shape # (Rows, columns) (74988, 4)

(74988, 4)

In [8]:
#Field names in data
sales_data.columns

Index(['InvoiceDate', 'InvoiceID', 'CustomerID', 'InvoiceValue'], dtype='object')

#### Data types of fields

In [9]:
# 1. All in one go
sales_data.dtypes

InvoiceDate     datetime64[ns]
InvoiceID               object
CustomerID              object
InvoiceValue             int64
dtype: object

In [11]:
# 2. using a for loop
for fieldname in sales_data:
    print(fieldname, sales_data[fieldname].dtype)

InvoiceDate datetime64[ns]
InvoiceID object
CustomerID object
InvoiceValue int64